

div#div_header {
	width:100%;
	height:14pt;
	background:#2c4056;
}

div#div_header a {
	font-size:80%;
	font-weight:bold;
	margin-right:5pt;
	margin-left:5pt;
	margin-top:3pt;
	color:white;
	text-decoration:none;
}

div#div_header a:hover {
	text-decoration:underline;
}

div#div_menu,
div#div_menu_project,
div#div_menu_server_role,
div#div_menu_server_environment,
div#div_menu_project_server {
    font-weight: bold;
    font-size: 90%;
    width:100%;
    background:#507aaa;
    border-bottom:2pt solid #2c4056;
}

ul.navigation ul {
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    padding-left: 0pt;

    display: none;
    left: 124pt;
    margin: 0pt;

    position: absolute;
    top: 20px;
    z-index:999;
    visibility: hidden;
}


ul.navigation ul ul{
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
    padding-left: 0pt;

    left: 260pt;
    margin: 0pt;

    position: absolute;
    top: -1pt;
    z-index:999;
    visibility: hidden;
}

ul.navigation {
    height:16pt;
    padding:0;
    margin:0;
    display:block;
    list-style:none;
    margin-top:10pt;
    position: relative;
}


ul.navigation li:hover{
    background-color:#759FCF;
}

ul.navigation li li {
    border:2pt solid #2c4056;
    border-top:none;
}

ul.navigation li li:first-child {
    border-top:2pt solid #2c4056;
}

ul.navigation li{
    float: left;
}
ul.navigation li, ul.navigation ul li{
    padding-right:2pt;
    padding-left:2pt;
    padding-bottom:2.25pt;
    padding-top:2.25pt;
    margin:0pt;
    width:124pt;
    list-style-type:none;
    position:relative;
    color:white;
    text-align:center;
}

ul.navigation a, ul.navigation a:visited, ul.navigation a:link , ul.navigation a:hover{
    color: #ffffff;
    text-decoration: none;
}

ul.navigation li:hover > ul{
    display: block;
    left:-2px;
    visibility: visible;
}
ul.navigation li:hover > ul > li:hover ul{
    display: block;
    left: 100%;
    visibility: visible;

}

ul.navigation ul,
ul.navigation ul ul {
    background:#507aaa;
    position: absolute;
}

ul.navigation a{
    width: 100%;
}

div#div_menu li a {
    text-decoration: none;
    color: white;
}

div#div_menu {
	height:52pt;
}

div#div_menu_project,
div#div_menu_server_role,
div#div_menu_server_environment,
div#div_menu_project_server {
	font-weight: normal;
	min-height:16pt;
	background:#aabed5;
}

div#div_menu_project_server {
	background:#c5d6ea;
}


div#div_menu_project span,
div#div_menu_project_server span,
div#div_menu_server_role span,
div#div_menu_server_environment span {
	padding: 0pt 5pt;
	margin:0;
	min-width:60px;
	float:left;
	border-left: 1pt dotted black;
	min-height:16pt;
	text-align:center;
}

div#div_menu_project span a, 
div#div_menu_project span a:link, 
div#div_menu_project span a:hover, 
div#div_menu_project span a:active,
div#div_menu_project_server span a,
div#div_menu_project_server span a:link,
div#div_menu_project_server span a:hover,
div#div_menu_project_server span a:active,
div#div_menu_server_role span a,
div#div_menu_server_role span a:link,
div#div_menu_server_role span a:hover,
div#div_menu_server_role span a:active,
div#div_menu_server_environment span a,
div#div_menu_server_environment span a:link,
div#div_menu_server_environment span a:hover,
div#div_menu_server_environment span a:active {
	color:black;
	text-decoration:none;
	line-height:14pt;
}

div#div_menu_project input {
	width:80pt;
}

div#div_menu_project label {
	line-height:14pt;
}

div#div_menu_project label, 
div#div_menu_project input {
	font-size: 80%; 
	height:10pt;
	margin:0;
	margin-top:1pt;
	margin-right:1pt;
	float:right;
}

div#div_menu_project span a:hover, 
div#div_menu_project_server span a:hover {
	color: #2C4056;
}

div#div_menu h1 {
	margin:0;
	padding:3pt 0 0 3pt;
	color:white;
}
/*ul.navigation ul li a {
  background: #507AAA;
  border-bottom: 0px dotted white;
}*/
ul.navigation ul ul li a:hover {
  background: #759FCF;
}

